template_banks/*

#noise can also contain large amounts of data
noise/*

#!noise/segments/

#configs contains all the generated SNR time series

configs/*
args/*

*.log
*.txt

**.ipynb
.vscode/

**__pycache__**
#logs

load*

/*.json
/*.sh

!install.sh

#do publish template banks that were used in papers
!template_banks/PyCBC_98_aligned_spin.txt
!template_banks/PyCBC_98_aligned_spin_intermediate.hdf
!GWSamplegen/segments/*

glitches

build

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

